<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Vintage Synth Lab</title>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>

<body>
    <div class="header">
        <a href="/">
        <img src="images/mainlogo.png" alt="VSL logo">
        </a>
    </div>

    <nav class="navbar">
        <a href="/customers">CUSTOMERS</a>
        <a href="/products">PRODUCTS</a>
        <a href="/stores">STORES</a>
        <a href="/inventory">INVENTORY</a>
        <a href="/purchases">PURCHASE RECORDS</a>
    </nav>
    {{{body}}}
</body>

</html>
